*{
    margin: 0;
    padding: 0;
}
:root{
    --color-primary:rgb(235, 40, 40);
    --color-secondary:rgb(7, 7, 133);
}
header{
    /* background-color: rgba(226, 225, 225, 0.532); */
    background-image: radial-gradient(rgba(226, 225, 225, 0.532),white);
    width: 100vw;
    height: 1000px;
   
}
nav img{
    width: 70px;
    height: 70px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}
.btn1{
    display: flex;
    justify-content: center;
    gap: 5ch;
    position: relative;
}
.dropdown{
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    width: 65px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: -22px 16px;
    z-index: 1;
}
.long:hover .dropdown {
  display: block;
    width: 65px;
    height: 20px;
    background-color: transparent;
    border-radius: 20px;
  
}
.long {
   
    /* function adding */
    position: relative;
    display: inline-block;
}
.dropbtn{
    width: 100px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.droplink {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.droplink  a {
  color: black;
  margin-top: -5px;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.droplink  a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.long:hover .droplink {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.long:hover .dropbtn {
  background-color:  var(--color-secondary);
  color: white;
}
#not{
   color: var(--color-primary)
}
#not:hover{
   color:  var(--color-secondary);
}
#search{
    color: var(--color-secondary);
}
.fa-solid{
    width: 30px;
    padding: 5px;
}
.rond{
    width: 30px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}
.order{
    width: 120px;
    height:40px;
    border: none;
    /* color: white; */
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    background-color: var(--color-primary);
}
.order a{
    color: white;
    list-style: none;
    text-decoration: none;
}
 .tete {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    max-width: 800px;
    }
.contenu{
    /* margin-bottom: 40px; */
    position: relative;
     padding: 50px 250px;
}
.pizza{
    font-size: 300px;
    color: var(--color-primary);
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 0.85; /* Réduit l'espace vertical */
     /* COLLÉ À L'IMAGE */
    /* margin-top: -25px; */
    margin-top: -50px;
    text-shadow: 
            3px 3px 0 var(--color-secondary)
            6px 6px 0 rgba(0,0,0,0.15),
            9px 9px 0 rgba(0,0,0,0.1);
    position: relative;
    display: inline-block;
}
.pizza::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    /* background: linear-gradient(to bottom, 
            rgba(255,255,255,0.4) 0%, 
            rgba(255,255,255,0) 100%); */
    pointer-events: none;
    border-radius: 10px;
    }
  .slice {
    width: 300px;
    height: 300px;
    display: block;
     /* -35px COLLE l'image au texte */
     /* margin: 0 auto -35px auto; */
     margin: 0 auto -350px 450px;
    position: relative;
    z-index: 10;
    animation: slice 2s ease-in-out;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.2));
    } 
@keyframes slice{
    0%{transform: translateY(0px);}
   100%{ transform: translateY(-30px);}
}
.logofirst {
    width: 120px;
    height: 120px;
    display: block;
     /* -35px COLLE l'image au texte */
     /* margin: 0 auto -35px auto; */
     margin: 0 auto -50px 50px;
    position: sticky;
    z-index: 10;
    animation: pizza-animation 5s ease-in-out infinite;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.2));
    }
        
    @keyframes pizza-animation {
        0%, 100% { 
            transform: translateY(0) rotate(0deg) scale(1);
            }
            33% { 
                transform: translateY(-10px) rotate(120deg) scale(1.1);
            }
            66% { 
                transform: translateY(5px) rotate(240deg) scale(0.95);
            }
        }


.background img{
    width: 700px;
    margin-top: 50px;
     border-radius: 60%;
    margin-left: 400px;
    animation: imag 3s ease-in-out;
}
/* est que c'esst possible d'utiliser cet proprité en keyframes  */
@keyframes imag {
   0%{transform: translateY(0px);}
   100%{ transform: translateY(30px);}

 }

 /* part2 */
 .partone{
    /* background-color: var(--color-primary); */
    background-color: rgba(226, 225, 225, 0.532);
    display: flex;
    justify-content: center;
    gap: 20ch;
    margin: 0;
    padding: 20px 20px;
 }
 .contenair1{
    align-items: center;
 }
 .contenair1 img{
    width: 100%;
    animation: tourner 5s ease-in-out;
 }
 @keyframes tourner{
0%{transform: rotateZ(0deg);}
100%{transform: rotateZ(180deg);}
 }
 .contenair2 p{
    text-align: justify;
    color: rgb(17, 17, 17);
    margin: 20px;
 }
 .contenair2 h2{
    color: rgb(20, 19, 19);
    text-align: justify;
    font-weight: 400;
 }
 .contenair2 img{
    width: 50%;
 }
 .boutton{
    display: flex;
    justify-content: space-around;
 }
 .one,
 .two{
    width: 150px;
    height: 50px;
    padding-bottom: 1%;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);
 }

 .one:hover{
    background-color: var(--color-secondary);
    color: white;
 }
 .two:hover{
    background-color: var(--color-secondary);
    color: white;
 }

 /* Part three */
 .parttwo{
    display: flex;
    justify-content: space-between;
 }

 .subtitle{
    width: 50vh;
    display: block;
    justify-content: center;
    align-items: baseline;
    padding:2% 5%;
 }
 .subtitle p{
    padding-block: 15%;
 }
 .subtitle img {
    width: 15%;
 }
 h1 span{
    color:var(--color-secondary) ;
 }
 .bouttonimage{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
    /* border: 1px solid var(--color-secondary); */
 }
 .bouttonimage button{
    /* border: 1px solid blue; */
    width: 20%;
    height: 20%;
    border: none;
    background-color: rgb(202, 94, 106);
}
 .bouttonimage img{
    height: 100%;
    width: 100%;
 }

 /* parttwo1 */

 @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Courgette&family=Dancing+Script:wght@400..700&family=Days+One&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 .parttwo1 {
    margin: 5% 15%;
 }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.front {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    /*transform: rotateX(0deg);
    height: 100%;
    transition: transform 0.5s;*/
}

.back {
    display: none;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    margin: 5% 15%;

}

.container1 {
    display: flex;
    justify-content: space-between;
}

.bleu {
    color: rgb(0, 0, 154);
}

/*header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}*/

.logo {
    width: 50vh;
    display: block;
    justify-content: center;
    align-items: baseline;
}

.logo h1 {
    font-size: 48px;
    color: red;
    font-weight: bold;
    margin: 0;
    font-family:"Days One", sans-serif;
    align-items: baseline;
    
}

.pizza-logo {
    width: 60px;
    height: auto;
}

.header-options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-options button {
    background-color: transparent;
    border: 2px solid #000;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.tagline {
    text-align: center;
    margin-bottom: 40px;
    width: 50vh;
    gap: 10px;
}

.tagline p {
    font-size: 16px;
    color: #000;
}

.pizza-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 3%;
}

.titre {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px var(--color-secondary);
    height: 5vh;
    margin-top: 5%;
    padding: 2% 0;
    border-radius: 10px;
    color: var(--color-secondary);
    
}

.titre:hover {
    background-color: var(--color-secondary);
    color: #fff;
    
}

.pizza-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.pizza-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pizza-card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.quantity-selector button {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.quantity-selector .quantity {
    margin: 0 10px;
    font-size: 18px;
}

.add-to-cart {
    background-color:var(--color-secondary);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.see-all-bouton {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 18px;
    background: white;
}

.back-bouton {
    display: none;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 18px;
    background: white;
}

#toggleSections:checked ~ .back {
    display: block;
}

#toggleSections:checked ~ .see-all-bouton {
    display: none;
}

#toggleSections:checked ~ .back .back-bouton {
    display: block;
}

/* quatrième parti */
 .retour{
            margin-left: 30px;
            margin-top: 50px;
        }
        #back{
            color:var(--color-secondary) ;
            
        }
        .contenu2{
            display: flex;
            justify-content: space-between;
            gap: 20ch;
            padding: 100px 100px;
            background-image: linear-gradient(white,rgba(0, 0, 255, 0.145));
        }
        .contenu2 img{
            width: 600px;
            aspect-ratio: 1/0.5;
            border: none;
            border-radius: 20px; 
            /* mask-image: linear-gradient(transparent,white); */
            
        } 
        h2 span{
            color: var(--color-secondary);
        }
        .partie2{
            width: 500px;
            aspect-ratio: 1/0.5;
            padding: 10px 50px;
        }
        .partie2 h2{
           font-weight: bold;
           font-size: 20px;
        }
        .partie2 p{
           text-align: justify;
           padding-top: 50px;
           line-height: 1.5;
        }
        .boutton2 button{
            padding: 5px 20px;
            /* background-image: linear-gradient(rgb(10, 10, 172),rgb(109, 50, 50)); */
            background-image: radial-gradient(var(--color-secondary),rgb(109, 50, 50));
            width: 150px;
            aspect-ratio: 1/0.25;
            border-radius: 20px;
            border: none;
            color: white;
            text-transform: uppercase;
            margin: 100px 0;
            cursor: pointer;
            transition: 2s;
        }
        .boutton2 a{
            color: white;
            list-style: none;
            text-decoration: none;
        }
        .boutton2 button:hover{
            color: rgb(253, 248, 248);
            width: 200px;
        }
        section h1{
            position: relative;
             /* top: 2450px;  */
        }
       .titrelogo {
        font-size: 4rem;
        font-family: 'Arial Black', sans-serif;
        /* display: flex; */
        justify-content: center;
        /* gap: 5px; */
        position: absolute;
        text-align: center;
        left: 450px;
        /* top: 450px; */
        margin-bottom: 30%;
        }
        .bleu2 {
            color: rgb(0, 0, 136);
            }
        .rouge2 {
            color: red;
        }

        .titrelogo span {
        display: inline-block;
        opacity: 0;
        transform: scale(0.5);
        animation: titre 10s forwards infinite;
        }

        /* Animation avec délai progressif pour chaque lettre */
        .titrelogo span:nth-child(1) { animation-delay: 0s; }
        .titrelogo span:nth-child(2) { animation-delay: 0.5s; }
        .titrelogo span:nth-child(3) { animation-delay: 1s; }
        .titrelogo span:nth-child(4) { animation-delay: 1.5s; }
        .titrelogo span:nth-child(5) { animation-delay: 2s; }
        .titrelogo span:nth-child(6) { animation-delay: 2.5s; }
        .titrelogo span:nth-child(7) { animation-delay: 3s; }
        .titrelogo span:nth-child(8) { animation-delay: 3.5s; }
        .titrelogo span:nth-child(9) { animation-delay: 4s; }
        .titrelogo span:nth-child(10){ animation-delay: 4.5s; }
        .titrelogo span:nth-child(11){ animation-delay: 5s; }

        @keyframes titre {
        0% {
            opacity: 0;
            transform: scale(0.5) rotate(-20deg);
        }
        50% {
            opacity: 1;
            transform: scale(1.2) rotate(10deg);
        }
        100% {
            opacity: 1;
            transform: scale(1) rotate(0deg);
        }
        }

        /* cinquième */

        .banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }to{
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
    position: absolute;
    inset: 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
        z-index: 20;
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw); /* ← corrigé */
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

/* TITRE EXTRA PIZZA */
.banner  h3 {
  font-family: Fredoka;
  font-size: 5em;
  line-height: 1em;
  color: red;
  position: absolute;
  bottom: 170px;
  left: 550px;
  
}

/* CORRECTION ICI : PAS D’ESPACE AVANT ::after */
.banner .content h3::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px white;
  color: transparent;
  z-index: 10;
}

/* TEXTE A DROITE */
.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 200px;
}

/* 'TACOS, PIZZA...' */
.banner .content h4 {
  font-size: 3em;
}

/* IMAGE BURGER */
.banner .content .model {
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 66;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 5;
}
.banner {
  /* background-image: url(ProImage/place2.jpg); */
  background-color: #fcfcf9;
}
/* 1 — Le slider doit être AU-DESSUS du texte */
.banner .slider {
  position: relative;
  z-index: 1000;  /* Passe devant le texte */
}

/* 2 — Le texte du milieu doit être en dessous du slider */
.middle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;   /* En dessous du slider */

  font-family: Archivo, sans-serif;
  font-size: 3em;
  color: rgb(16, 16, 16);
  text-align: center;
  font-weight: bold;
  pointer-events: none;
  text-shadow: 0 0 8px black;
}

/* 3 — EXTRA PIZZA doit rester AU-DESSUS de tout */
/* .banner h3 {
  position: relative;
  font-size: 2em;
  z-index: 10000; /* Plus haut que les images */

.item img{
    border-radius: 20px;
}


/* fin de code  */
.commentaire {
    background-color: rgba(53, 53, 53, 0.384);
}

.card {
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 80vh;
   

} .petit{
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}

.card1 {
    background-color: rgb(29, 29, 148);
    width: 30vh;
    box-shadow: 0 0 20px black;
    height: 40vh;
    margin-top: 12%;
    text-align: center;
    color: white;
    z-index: -1;
    text-align: justify;
    padding: 1% 2%;
    transform: rotateZ(20deg);
    
} 

.card2 {
    background-color: red;
    width: 30vh;
    box-shadow: 0 0 20px black;
    height: 40vh;
    margin-top: 10%;
    text-align: center;
    color: white;
    z-index: -1;
     text-align: justify;
    padding: 1% 2%;
    transform: rotateZ(-5deg);
}

.card3 {
    background-color: rgb(29, 29, 148);
    width: 30vh;
    box-shadow: 0 0 20px black;
    height: 40vh;
    margin-top: 10%;
    text-align: center;
    color: white;
    z-index: -1;
     text-align: justify;
    padding: 1% 2%;
    transform: rotateZ(35deg);
} 
.image{
    width: 15vw;
    height: 20vh;
}

@keyframes spin {
    from{translate: 0;}
    to {translate:-100%;}
}

.coms{
    width: 90%;
    margin: auto;
    background-color: white;
    position: absolute;
    right: 5%;
    margin-top: -12%;
    height: 20rem;
    display: flex;
    overflow-x:auto ;
    gap: 1em;
    border-radius: 15px;
}
.coms::-webkit-scrollbar{
    display: none;
}
.coms1 {
    min-width: 250px;
    background-color: white;
    height: 10vh;
    align-items: center;
    border: 2px solid var(--color-secondary);
    box-shadow: 0 10px 25px var(--color-secondary);
    padding:  25px;
    border-radius: 10px;
} 

.each-coms {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 20px;
    animation: spin 20s infinite linear ;
    
}
.nom{
    display: flex;
    justify-content: center;
    gap: 2ch;
    margin-top: 12px;
    align-items: center;
    /* padding: 2% ; */
}
.nom img{
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.client text{
    display: flex;
    flex-direction: column;
}
.client text p{
    /* gap: 2ch; */
    font-weight: bolder;
    font-size: 5px;
}
.badges{
    display: flex;
    gap: 2ch;
    flex-wrap: wrap;
}
.stars{
    font-size: 18px;
    animation: pulse 1.5s infinite
}
@keyframes pulse{
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}

/* fin de footer */
.contenair5{
    display: flex;
    justify-content: center;
    gap: 5ch;
    padding: 5% 5%;
}
.linkedin,
.Instagram,
.facebook{
    display: flex;
    justify-content: center;
    gap: 5ch;
    margin: 5%;

}
/* .reseaux {
    margin-block: 2%;
} */



